.container {
    display: flex;
    margin: 40px;
}
.profile-pic {
    flex: 1;
    max-width: 400px;
    padding-right: 20px;
}
.profile-details {
    flex: 2;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
}
.contact-info, .address {
    margin: 20px;
    background-color: #d2ceb0;
    padding: 20px;
    border-radius: 10px;
}
.contact-info h2, .address h2 {
    margin-bottom: 10px;
    font-size: 18px;
}