.main-container {
    display: flex;
    align-items: center; /* จัดให้อยู่แนวกลางในแนวตั้ง */
    width: 100%;
    height: 100vh;
    margin-bottom: 100px;
    margin-top: 50px;
}

.image-column {
    display: flex;
    flex-direction: column;
    width: 50%; /* ครึ่งหนึ่งของจอ */
    height: 100vh; /* ใช้ความสูงเต็มจอ */
    margin-left: 50px; /* จัดกึ่งกลางในแนวนอน */
    overflow: hidden; /* ซ่อนส่วนที่เกินออกจากพื้นที่ */
    margin-top: 100px;
    /*border-radius: 10px;*/
    
}

.image-column img {
    width: 100%; /* ใช้ความกว้างเต็มของคอลัมน์ */
    height: auto;
    margin-bottom: 0; /* เพิ่มระยะห่างระหว่างรูปภาพ */
    object-fit: cover; /* ตัดแต่งรูปภาพให้เต็มพื้นที่ */
    /*border-radius: 10px;*/
}

.text-column {
    flex: 1; /* ใช้พื้นที่ 1 ส่วนของ container */
    max-width: 40%; /* กำหนดให้ข้อความใช้พื้นที่ 40% ของ container */
    padding: 20px;
    margin-left: 50px; /* เว้นระยะห่างจากรูปภาพ 50px */
}